*{
  margin:0;
  padding:0;
  font-family:Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  color: white;
}

body{
  background: url('image/background-image.jpg');
  height:100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.main-div{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top:16%;
  font-size: 40px;
}

.hide{
  display:none;
}

.DOB,
.btn{
  color:black;
  margin-left:10px;
  font-size: 20px;
  background-color: bisque;
  border:none;
  padding:5px;
  border-radius: 4px;
}

.icon{
  font-size: 35px;
}

.enter-date{
  margin-left:20px;
  margin-top:200px;
  display:flex;
}

.timeContainer{
  display:flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 20px;
}

.timeContainer div{
  display: flex;
  justify-content: center;
  font-size: 48px;
}

.timeContainer h2{
  margin-right: 16px;
}

.heading{
  display: flex;
  justify-content: center;
  font-size: 60px;
}

.afterDOBText{
  margin-top:11%;
}